/* CSS - Geral*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #d3ecfd;
}

.menu-conteiner{
    padding: 30px;
    width: 20%;
    background-color: #174A7E;
}

.logo{
    align-items: center;
    width: 100%;
    display: flex;
    color: white;
}

.logo-name{
    margin-left: 10px;
    font-size: 16pt;
}

.logo-icon{
    border-radius: 10px;
    width: 40px;
    text-align: center;
    color: #174A7E;
    font-size: 26pt;
    background-color: white;
}

.options{
    margin-top: 40px;
    color: white;    
    width: 100%;
    
}

.option-content{
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
    font-size: 14pt;
    display: flex;
}

.option-content:hover{
    transition: 0.5s;
    background-color: white;
    color: #174A7E;
}

.list-style{
    margin-right: 20px;
    font-size: 26pt;
}

main{
    width: 80%;
    padding: 30px;
}

.route-now{
    font-weight: bold;
}

/* CSS - Página de cadastro */

.titles-section{
    margin: 50px 0px 20px 0px;
}

.title-description{
    margin-top: 10px;
}

.form-conteiner{
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
}

.title-form{
    font-size: 16pt;
    margin-bottom: 10px;
}

.subtitle-form{
    opacity: 0.7;
}

.inputs-form{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

.box-input{
    display: flex;
    flex-direction: column;
}

.input-label{
    font-weight: bold;
}

.input-element{
    width: 70%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

.button-conteiner{
    margin-top: 30px;
    display: flex;
}

.button-submit{
    cursor: pointer;
    background-color: #174A7E;
    border: none;
    padding: 15px;
    font-size: 14pt;
    color: white;
    border-radius: 10px;
}

/* CSS - Lista de pacientes*/

.list-conteiner{
    margin-top: 60px;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    background-color: white;
    
}

.table-conteiner{
    margin-top: 30px;
    max-height: 400px;
    overflow-y: scroll;
}

table{
    width: 100%;
}

thead{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

th{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
}

td{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
}